body {
    background-image: url("https://wallpaperaccess.com/full/642983.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    color: white;
}

mat-card{
    width: 20%;
}
mat-card-title-group{
    margin-bottom: 5%;
}
.logo{
    width: 10%;
}
#logoTittle {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.463);
    margin-bottom: 4em;
  }

