<body>
  <p>{{ teamSelected.urlName }}</p>
  <div [ngStyle]="{ 'text-align': 'center' }" class="cajaImg">
    <img
      [src]="showImgTeam()"
      [ngStyle]="{ width: '10%' }"
      onerror="this.onerror = null; this.src='https://pbs.twimg.com/profile_images/991091843558494209/ehalD2tN_400x400.jpg'"
    />
  </div>
  <h3 [ngStyle]="{ width: '90%', margin: 'auto ' }">
    <a routerLink="/index"> <mat-icon>first_page </mat-icon>INDEX </a>/<a
      routerLink="/team-list"
    >
      TEAM LIST <mat-icon> sports_basketball </mat-icon></a
    >
    / {{ teamSelected.fullName }} <mat-icon>team</mat-icon>
  </h3>
  <mat-card class="Team">
    <mat-card-title-group>
      <mat-card-title>{{ teamSelected.altCityName }}</mat-card-title>
      <mat-card-content fxLayout="row" fxLayoutAlign="space-evenly start">
        <mat-card class="schedule">
          <mat-card-title-group> </mat-card-title-group>
          <mat-card-content>
            <table>
              <thead>
                <tr>
                  <th>Home Team</th>
                  <th>Score</th>
                  <th></th>
                  <th>Score</th>
                  <th>Visitant Team</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let match of matchList">
                  <td fxLayoutAlign="center">
                    <img
                      [src]="showImgTeamById(match.hTeam.teamId)"
                      [ngStyle]="{ width: '30%' }"
                      onerror="this.onerror = null; this.src='https://pbs.twimg.com/profile_images/991091843558494209/ehalD2tN_400x400.jpg'"
                    />
                  </td>

                  <td>{{ match.vTeam.score }}</td>
                  <td></td>
                  <td>{{ match.vTeam.score }}</td>
                  <td fxLayoutAlign="center">
                    <img
                      [src]="showImgTeamById(match.vTeam.teamId)"
                      [ngStyle]="{ width: '30%' }"
                      onerror="this.onerror = null; this.src='https://pbs.twimg.com/profile_images/991091843558494209/ehalD2tN_400x400.jpg'"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        <div>
          <mat-card class="playerList" *ngFor="let player of teamRoster">
            <mat-card-title-group> </mat-card-title-group>
            <mat-card-content fxLayout="row" fxLayoutAlign="start center">
              <img fxFlex="20" [src]="showImgPlayer(player)" class="heaven" />
              <div fxFlex="80" fxLayoutAlign="center">
                {{ player.firstName }}{{ player.lastName }}
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card-title-group>
  </mat-card>
</body>
