.example-card {
  width: 20%;
}

.example-header-image {
  background-image: url("https://images.tcdn.com.br/img/img_prod/626443/luminoso_de_parede_basquete_nba_30cm_acrilico_led_luminoso_de_bar_e_churrasqueira_placa_decorativa_d_128_1_20200204134714.jpg");
  background-size: cover;
}
body {
  background-image: url("https://www.wallpapertip.com/wmimgs/4-48639_nba-wallpapers-facts-about-nba-free-chrome-extension.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
mat-icon {
  vertical-align: middle;
}
.contenedorCard {
  width: 80%;
  margin: auto;
  margin-top: 3em !important;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(215, 220, 250, 0.685);
}

.informacion {
  display: flex;
  width: 75%;
  margin-left: 1em;
  background-color: brown;
}

h4 {
  padding: 1em;
  font-size: 35px;
}

table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}
th {
  background: #3498db;
  color: white;
  font-weight: bold;
}
td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
  text-align: center;

}
tr td {
  background-color: #2cc16a;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
