<body>
  <div [ngStyle]="{ 'text-align': 'center' }" class="cajaImg">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Los_Angeles_Lakers_logo.svg/1200px-Los_Angeles_Lakers_logo.svg.png"
      [ngStyle]="{ width: '20%' }"
    />
  </div>
  <h3 [ngStyle]="{ width: '90%', margin: 'auto ' }">
    <a routerLink="/index"><mat-icon>first_page </mat-icon>INDEX </a>/<a
      routerLink="/player-list"
    >
      PLAYER LIST <mat-icon> sports_basketball </mat-icon></a
    >
    / {{ player.firstName }} {{ player.lastName }} <mat-icon>person</mat-icon>
  </h3>
  <mat-card class="contenedorCard">
    <mat-card class="example-card">
      <img [src]="showImg(player)" [ngStyle]="{ width: '100%' }" />
    </mat-card>

    <div class="informacion">
      <div>
        <h4>
          {{ player.firstName }} <br />
          {{ player.lastName }}
        </h4>
        <p [ngStyle]="{ 'text-align': 'center' }">{{ player.teamId }}</p>
      </div>
      <div [ngStyle]="{ width: '50%', display: 'flex', 'font-size': '20px' }">
        <div
          [ngStyle]="{
            display: 'table-column',
            'align-self': 'center'
          }"
        >
          <ul>
            <li>EST/PES</li>
            <li>FDN</li>
            <li>ESTATUS</li>
            <li>EXPERIENCIA</li>
            <li>Actividad</li>
            <li>UNIVERSIDAD</li>
          </ul>
        </div>

        <div
          [ngStyle]="{
            display: 'table-column',
            'align-self': 'center'
          }"
        >
          <ul>
            <li>{{ player.heightMeters }} m {{ player.weightKilograms }}kg</li>
            <li>{{ player.dateOfBirthUTC }}</li>
            <li>{{ player.heightMeters }}m</li>
            <li>{{ player.yearsPro }} año/s</li>
            <li>
              <mat-icon>{{
                player.isActive ? "check_circle" : "cancel"
              }}</mat-icon>
            </li>
            <li>{{ player.lastAffiliation }}</li>
          </ul>
        </div>
      </div>
    </div>
    <mat-icon
      [ngStyle]="{ width: '100%', margin: '1em', 'text-align': 'end' }"
      (click)="visibilityOf()"
      >{{ hiden ? "expand_more" : "expand_less" }}</mat-icon
    >
  </mat-card>

  <mat-card class="contenedorCard" *ngIf="hiden">
    <p>{{stats.assists}}</p> 
  </mat-card>
</body>
