<body>
  <div [ngStyle]="{ 'text-align': 'center' }" class="cajaImg">
    <img
      [src]="showImgTeam(fullNameTeam)"
      [ngStyle]="{ width: '10%' }"
      [routerLink]="['/team-info', player.teamId, this.year]"
      onerror="this.onerror = null; this.src='https://pbs.twimg.com/profile_images/991091843558494209/ehalD2tN_400x400.jpg'"
    />
  </div>
  <h3 [ngStyle]="{ width: '90%', margin: 'auto ' }">
    <a routerLink="/index"><mat-icon>first_page </mat-icon>INDEX </a>/<a
      routerLink="/player-list"
    >
      PLAYER LIST <mat-icon> sports_basketball </mat-icon></a
    >
    / {{ player.firstName }} {{ player.lastName }} <mat-icon>person</mat-icon>
  </h3>
  <mat-card class="contenedorCard">
    <mat-card class="example-card">
      <div style="position: relative; left: 0; top: 0">
        <img
          [src]="showImgTeam(fullNameTeam)"
          onerror="this.onerror = null; this.src='https://pbs.twimg.com/profile_images/991091843558494209/ehalD2tN_400x400.jpg'"
          [ngStyle]="{ width: '100%', margin: 'auto' }"
          class="eye"
        />
        <img
          [src]="showImg(player)"
          [ngStyle]="{ width: '100%' }"
          class="heaven"
        />
      </div>
    </mat-card>

    <div class="informacion">
      <div>
        <h4>
          {{ player.firstName }} <br />
          {{ player.lastName }}
        </h4>
        <p
          [ngStyle]="{
            'text-align': 'center',
            'font-family': 'model, sanSerif',
            'font-size': '20px'
          }"
          *ngIf="showNameTeam(player.teamId)"
        >
          {{ fullNameTeam }}<br />
          #{{ player.teamId }}
        </p>
      </div>
      <div
        [ngStyle]="{
          width: '50%',
          display: 'flex',
          'font-size': '20px',
          'font-family': 'cursive'
        }"
      >
        <hr />

        <div
          [ngStyle]="{
            display: 'table-column',
            'align-self': 'center'
          }"
        >
          <ul>
            <li>EST/PES</li>
            <li>FDN</li>
            <li>ESTATUS</li>
            <li>EXPERIENCIA</li>
            <li>Actividad</li>
            <li>UNIVERSIDAD</li>
          </ul>
        </div>
        <div
          [ngStyle]="{
            display: 'table-column',
            'align-self': 'center'
          }"
        >
          <ul>
            <li>
              {{ player.heightMeters }} m / {{ player.weightKilograms }} kg
            </li>
            <li>{{ player.dateOfBirthUTC }}</li>
            <li>{{ player.heightMeters }}m</li>
            <li>{{ player.yearsPro }} año/s</li>
            <li>
              <mat-icon>{{
                player.isActive ? "check_circle" : "cancel"
              }}</mat-icon>
            </li>
            <li>{{ player.lastAffiliation }}</li>
          </ul>
        </div>
      </div>
    </div>
    <mat-icon
      [ngStyle]="{ width: '100%', margin: '1em', 'text-align': 'end' }"
      (click)="visibilityOf()"
      >STATS{{ hiden ? "expand_more" : "expand_less" }}</mat-icon
    >
  </mat-card>

  <mat-card class="contenedorCard" *ngIf="hiden">
    <table>
      <thead>
        <th>MPG</th>
        <th>DD2</th>
        <th>TD3</th>
        <th>APG</th>
        <th>BPG</th>
        <th>FGP</th>
        <th>FTP</th>
        <th>PPG</th>
        <th>RPG</th>
        <th>ASSISTS</th>
        <th>Blocks</th>
        <th>MIN</th>
        <th>pFouls</th>
        <th>POINTS</th>
        <th>GamesPlayed</th>
        <th>SPG</th>
      </thead>
      <tbody>
        <tr>
          <td>{{ stats.mpg }}</td>
          <td>{{ stats.dd2 }}</td>
          <td>{{ stats.td3 }}</td>
          <td>{{ stats.apg }}</td>
          <td>{{ stats.bpg }}</td>
          <td>{{ stats.fgp }}</td>
          <td>{{ stats.ftp }}</td>
          <td>{{ stats.rpg }}</td>
          <td>{{ stats.rpg }}</td>
          <td>{{ stats.assists }}</td>
          <td>{{ stats.blocks }}</td>
          <td>{{ stats.min }}</td>
          <td>{{ stats.pFouls }}</td>
          <td>{{ stats.points }}</td>
          <td>{{ stats.gamesPlayed }}</td>
          <td>{{ stats.spg }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</body>
